@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'IBM Plex Sans';
	background-color: #171717;
	color: #f9f9f9;
}
